.container{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  color: var(--white);
}

.container strong{
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.875rem;

  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

.title{
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;


  margin-bottom: 2.5rem;
}

.title img{
  margin-right: 1rem;
  
}

.inputAndButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputAndButton input{
  width: 21.25rem;
  height: 5rem;

  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
  padding-left: 1.895rem;
  border: none;
}

.inputAndButton input::-webkit-input-placeholder {
  font: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  color: #adadad;
}

.inputAndButton button{
  background: #4953B8;
  border-radius: 0px 5px 5px 0px;
  font-size: 0px;
  height: 5rem;
  width: 5rem;
  border: none;
}

.inputAndButton button:hover{
  background-color: var(--green);
}